<head th:fragment="Head">
        <meta charset="utf-8" >

        <title th:text="${title}"></title>

        <meta name="description" content="AppUI is a Web App Bootstrap Admin Template created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="img/favicon.png">
        <link rel="apple-touch-icon" href="/admin/img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="/admin/img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="/admin/img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="/admin/img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="/admin/img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/admin/img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="/admin/img/icon152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="/admin/img/icon180.png" sizes="180x180">
        <!-- END Icons -->

		<!-- Font Awsome CND -->
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="/admin/css/bootstrap.min.css">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="/admin/css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="/admin/css/main1.css">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="/admin/css/themes.css">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) -->
        <script src="/admin/js/vendor/modernizr-3.3.1.min.js"></script>
        <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

    </head>