<div th:fragment="Scripts">	
  <!-- jQuery, Bootstrap, jQuery plugins and Custom JS code -->
  <script src="/admin/js/vendor/jquery-2.2.4.min.js"></script>
  <script src="/admin/js/vendor/bootstrap.min.js"></script>
  <script src="/admin/js/plugins.js"></script>
  <script src="/admin/js/vendor/additional-methods.min.js"></script>
  <script src="/admin/js/app.js"></script>

 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <!-- Load and execute javascript code used only in this page -->
  <script src="/admin/js/pages/readyDashboard.js"></script>
  <script>
		App.datatables();
		$(document).ready(function() {
			$('#myTable').DataTable();
		});
  </script>
<script th:inline="javascript">
/*<![CDATA[*/	
var success= /*[[${success}]]*/ null;	
if (success != null) {
    $.bootstrapGrowl('<h4><strong>Success...</strong></h4> <p>'+success+'</p>', {
       type: "success",
       delay: 4000,
       allow_dismiss: true,
       offset: {from: 'top', amount: 20},
       align: "center",
       width: 300
   });
}

var error= /*[[${error}]]*/ null;
if (error != null) {
    $.bootstrapGrowl('<h4><strong>!!Error!!</strong></h4> <p>'+error+'</p>', {
       type: "danger",
       delay: 4000,
       allow_dismiss: true,
       offset: {from: 'top', amount: 20},
       align: "center",
       width: 300
   });
}
/*]]>*/
</script>
 </div>