<!-- Main Sidebar -->
<div id="sidebar" th:fragment="Sidebar">
    <!-- Sidebar Brand -->
    <div id="sidebar-brand" class="themed-background">
        <a href="#" class="sidebar-title">
            <i class="fa fa-cube"></i> <span class="sidebar-nav-mini-hide">Cheap<strong>Mart</strong></span>
        </a>
    </div>
    <!-- END Sidebar Brand -->

    <!-- Wrapper for scrolling functionality -->
    <div  iv id="sidebar-scroll">
        <!-- Sidebar Content -->
        <div class="sidebar-content">
            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                <li>
                    <a href="/admin/AdminHome" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/AdminHome' ? 'active':''}"><i class="gi gi-compass sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
                </li>

                <li class="sidebar-separator">
                    <i class="fa fa-ellipsis-h"></i>
                </li>
                <li>
                    <a href="/admin/AdminUser" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/AdminUser' ? 'active':''}"><i  class="fa fa-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Users</span></a>
                </li>
                <li>
                    <a href="/admin/AdminProduct" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/AdminProduct' ? 'active':''}"><i class="fa fa-shopping-cart sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Products</span></a>
                </li>
                <li>
                    <a href="/admin/AdminOrders" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/AdminOrders' ? 'active':''}"><i class="fa fa-money sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Orders</span></a>
                </li>
                 <li>
                    <a href="/admin/AdminCategory" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/AdminCategory' ? 'active':''}"><i class="fa fa-th sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Categories</span></a>
                </li>
                
            </ul>
            <!-- END Sidebar Navigation -->

            
        </div>
        <!-- END Sidebar Content -->
    </div>
    <!-- END Wrapper for scrolling functionality -->

    <!-- Sidebar Extra Info -->
    <div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
        
        <div class="text-center">
            <small>Crafted with <i class="fa fa-heart text-danger"></i> by <a href="#" target="_blank">MSME</a></small><br>
            <small><span id="year">2021-2022</span> &copy; <a href="#" target="_blank">CheapMart</a></small>
        </div>
    </div>
    <!-- END Sidebar Extra Info -->
</div>
<!-- END Main Sidebar -->