<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">

<head th:include="layouts/Head :: Head"></head>
<!-- SPECIFIC CSS -->
    <link href="css/about.css" rel="stylesheet">

	<body>
		<div id="page">
			<header class="version_1" th:include="layouts/Header :: Header"></header>
			
				<main class="bg_gray">
					<div class="container margin_60_35 add_bottom_30">
						<div class="main_title">
							<h2>About Cheap Mart</h2>
							<p>CheapMart is an Indian e-commerce company that provides customer to customer sales services via its web portal.</p>
						</div>
						<!-- /row -->
						<div class="row justify-content-center align-items-center">
							<div class="col-lg-5 pr-lg-5 text-center d-none d-lg-block">
									<img src="img/about_2.svg" alt="" class="img-fluid" width="350" height="268">
							</div>
							<div class="col-lg-5">
								<div class="box_about">
									<h2>Top Quality</h2>
									<p class="lead">Almost all product were verified by us.</p>
									<img src="img/arrow_about.png" alt="" class="arrow_2">
								</div>
							</div>
						</div>
						<!-- /row -->
						<div class="row justify-content-center align-items-center ">
							<div class="col-lg-5">
								<div class="box_about">
									<h2>+5000 Customers</h2>
									<p class="lead">CheapMart has more than 5000+ happy customers.</p>
								</div>
		
							</div>
							<div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
									<img src="img/about_3.svg" alt="" class="img-fluid" width="350" height="316">
							</div>
						</div>
						<!-- /row -->
					</div>
					<!-- /container -->
			
					<div class="bg_white">
						<div class="container margin_60_35">
							<div class="main_title">
								<h2>Why Choose CheapMart</h2>
								<p>Because we'll understand your money value.</p>
							</div>
							<div class="row">
								<div class="col-lg-4 col-md-6">
									<div class="box_feat">
										<i class="ti-medall-alt"></i>
										<h3>+ 1000 Customers</h3>
										<p>1000+ smiles.</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="box_feat">
										<i class="ti-help-alt"></i>
										<h3>H24 Support</h3>
										<p>We provide 24 Hour customer support service. </p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="box_feat">
										<i class="ti-gift"></i>
										<h3>Great Sale Offers</h3>
										<p>Highly profitable product in minimum price.</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="box_feat">
										<i class="ti-headphone-alt"></i>
										<h3>Call support</h3>
										<p>call us : 9898989898</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="box_feat">
										<i class="ti-wallet"></i>
										<h3>Secure Payments</h3>
										<p>Two-Factor Authentication.</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="box_feat">
										<i class="ti-comments"></i>
										<h3>Support via Chat</h3>
										<p>Chat support from 8AM to 8PM .</p>
									</div>
								</div>
							</div>
							<!--/row-->
						</div>
					</div>
					<!-- /bg_white -->
			
					<div class="container margin_60">
						<div class="main_title">
							<h2>Meet CheapMart staff</h2>
							<p>.</p>
						</div>
						<div class="owl-carousel owl-theme carousel_centered">
							<div class="item">
								<a href="#0">
									<div class="title">
										<h4>Smith<em>.</em></h4>
									</div><img src="img/staff/1_carousel.jpg" alt="">
								</a>
							</div>
							<div class="item">
								<a href="#0">
									<div class="title">
										<h4>Mukesh<em>.</em></h4>
									</div><img src="img/staff/2_carousel.jpg" alt="">
								</a>
							</div>
							<div class="item">
								<a href="#0">
									<div class="title">
										<h4>Ankit<em>.</em></h4>
									</div><img src="img/staff/3_carousel.jpg" alt="">
								</a>
							</div>
							<div class="item">
								<a href="#0">
									<div class="title">
										<h4>smith<em>.</em></h4>
									</div><img src="img/staff/4_carousel.jpg" alt="">
								</a>
							</div>
							<div class="item">
								<a href="#0">
									<div class="title">
										<h4>Mukesh<em>.</em></h4>
									</div><img src="img/staff/5_carousel.jpg" alt="">
								</a>
							</div>
						</div>
						<!-- /carousel -->
					</div>
					<!-- /container -->
			</main>
			<!--/main-->
			<footer class="revealed" th:include="layouts/Footer :: Footer"></footer>
			
			<div th:include="layouts/Script :: Scripts"></div>
			
		</div>
	</body>
</html>