<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">

<head th:include="layouts/Head :: Head"></head>
<!-- SPECIFIC CSS -->
<link href="css/account.css" rel="stylesheet">
<!-- SPECIFIC CSS -->
<link href="css/error_track.css" rel="stylesheet">
	<body>
		<div id="page">
			<header class="version_1" th:include="layouts/Header :: Header"></header>
			
				<main class="bg_gray">
		
					<div class="container margin_30">
						<div class="page_header">
							<div class="breadcrumbs">
								<ul>
									<li><a href="#">Home</a></li>
									<li>Sell Product</li>
								</ul>
							</div>
							<h1>Add Product To Sell</h1>
						</div>
						<!-- /page_header -->
						<form action="/addproduct" method="post">
							<div class="row justify-content-center">
								<div class="col-xl-6 col-lg-6 col-md-8">
									<div class="box_account">
										<h3 >Product Details</h3>
										<div class="form_container">
											
											<div class="form-group">
												<input type="text" class="form-control" name="name" id="pname" placeholder="Product Name...">
											</div>
											<div class="form-group">
												<input type="text" class="form-control" name="price" id="price" placeholder="Product Price...">
											</div>
											<div class="form-group">
												<select name="category" id="category" class="form-control">
													<option selected value="">--Select Category--</option>
													<option th:each="category : ${categories}" th:if="${#lists.size(category.subcategory)>0}" th:value="${category.id}" th:text="${category.name}"></option>
												</select>
											</div>
											<div class="form-group">
												<select name="subCategory" id="subCategory" class="form-control">
													<option selected disabled>--Select Sub Category--</option>
												</select>
											</div>
											<div class="form-group">
												<textarea class="form-control" name="description" id="description" rows="5" style="height:auto" placeholder="Enter Product Full Spec Including How Much Old is it?"></textarea>
											</div>
											
											<div class="form-group">
												<label class="col-md-3 control-label">Select Images</label>
												<div class="col-md-12">
													<input type="file" class="form-control" name="images" id="images" accept="image/*" multiple>
													<small class="float-right pt-2">Select All The Images For Your Product</small>
												</div>
											</div>
											<hr>
											<div class="form-group">
												
												<div class="col-md-6">
													<label class="col-md-6 control-label">Is it Auction?</label>
													<label class="container_radio" style="display: inline-block; margin-right: 15px;">Yes
														<input type="radio" name="isBidding" value="1" >
														<span class="checkmark"></span>
													</label>
													<label class="container_radio" style="display: inline-block;">No
														<input type="radio" name="isBidding" value="0" checked>
														<span class="checkmark"></span>
													</label>
												</div>
											</div>
											<div class="yes box" style="display: none;">
												<small class="float-right pt-2">Product Price will be Your Starting Bid Price</small>
												<hr>
												<div class="row no-gutters">
													<div class="form-group">
														<input type="text" class="form-control" name="minIncrementAmt" id="minIncrementAmt" placeholder="Minimum Increament Per Bid">
													</div>
													<div class="form-group">
														<input type="text" class="form-control" name="entryFees" id="entryFees" placeholder="Entry Fees For Entering Auction">
														<small class="float-right pt-2">This is to prevent uninterested bids</small>
													</div>
													<div class="form-group">
														<label class="col-md-3 control-label">Auction Start Time</label>
														<div class="col-md-12">
															<input type="datetime-local" class="form-control" name="startTime" id="startTime" >
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-3 control-label">Auction End Time</label>
														<div class="col-md-12">
															<input type="datetime-local" class="form-control" name="endTime" id="endTime" >
														</div>
													</div>
												</div>
												<!-- /row -->
												
												<!-- /row -->
												
											</div>
											
											<hr>
										</div>
										<!-- /form_container -->
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-8">
									<div class="box_account">
										<h3>Other Details</h3>
										<div class="form_container">
											<div class="form-group">
												<input type="text" class="form-control" name="email" id="pemail" placeholder="Email*">
											</div>
											<div class="form-group">
												<input type="text" class="form-control pincode" name="pincode" id="ppincode" placeholder="Postal Code*">
											</div>
											<div class="row no-gutters">
												<div class="col-6 pr-1">
													<div class="form-group">
														<input type="text" class="form-control city" name="city" id="pcity" placeholder="City..." readonly>
													</div>
												</div>
												<div class="col-6 pl-1">
													<div class="form-group">
														<input type="text" class="form-control state" name="state" id="pstate" placeholder="Starte...">
													</div>
												</div>
											</div>
											
											<!-- /row -->

											<div class="form-group">
												<textarea class="form-control" name="address" id="paddress" rows="5" style="height:auto" placeholder="Enter Full Address..."></textarea>
											</div>
											<!-- <div class="form-group">
												<label class="container_check">Accept <a href="#0">Terms and conditions</a>
													<input type="checkbox">
													<span class="checkmark"></span>
												</label>
											</div> -->
											<div class="text-center"><input type="submit" value="Click To Sell" class="btn_1 full-width"></div>
										</div>
										<!-- /form_container -->
									</div>
									<!-- /box_account -->
								</div>
							</div>
							<!-- /row -->
							</form>
						</div>
						<!-- /container -->
					</main>
					<!--/main-->
			<footer class="revealed" th:include="layouts/Footer :: Footer"></footer>
			
			<div th:include="layouts/Script :: Scripts"></div>
			<script>
				$('input[name="isBidding"]').on("click", function() {
				    var inputValue = $(this).attr("value");
				    var targetBox = $("." + inputValue);
				    if(inputValue==0){
				    	$(".yes").hide();
				    }else{
				    	$(".yes").show();
				    }
				});
			</script>
			
		</div>
	</body>
</html>