<div th:fragment="Scripts">
<script src="js/common_scripts.js"></script>
<script src="js/main.js"></script>
<script src="js/bootstrap.min.js" ></script>

<!-- SPECIFIC SCRIPTS -->
<script src="js/carousel-home.js"></script>

<!-- Jquery validation plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="js/sweetalert.min.js"></script>
<!-- <script src="js/jquery.bootstrap-growl.js"></script> -->
<script src="js/bootstrapgrowl.js"></script>

<script src="js/everyPageScripts.js"></script>

</div>

	